body{
  margin: 0 auto;
  padding: 0;
  width:1200px;


  background-color: #ffffff;

  text-transform: uppercase;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 24px;
  color: #333333;
  text-align: center;
}
a {
  text-decoration: none;
  color:inherit;
}
li{
  list-style: none;
}
ul{
  margin: 0 0;
  padding: 0 0;
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
.main.navigation{
  font-weight: bold;
  line-height: 26px;

  background-color: #ffffff;
}
.welcome {
  background-color: #deebf4;
  background-image: url("../img/main-background.jpg");
  background-position:-0px -85px;
  background-repeat: no-repeat;
  background-size: 1200px;



}
.background-bottom{
  background-image:url("../img/background-bottom.png");
  background-repeat: no-repeat;
  width:1200px;
  height: 57px;
}

.advantage .title{
  line-height: 26px;
  font-size: 21px;
  font-weight: bold;
}
.advantage h3{
  font-size: 21px;
  font-weight: bold;
  color: #000000;
  
}
  .advantage-1  h3, .advantage-2 h3{
  line-height: 21px;
  color: #ffffff;
  
}

.blue-background{
  background-color: #81b3d2;
  color: #ffffff;
}

.association-3-4-5{
  background-color: #eeeeee;

}
.booking b{
 color: #000000;
 font-size: 36px;
 line-height: 30px;
 font-weight: bold;
}
.form-booking{
 color: #ffffff;
 font-size: 26px;
 line-height: 21px;
 font-weight: bold;
 text-transform: uppercase;

 background-color: #766357;

  padding:33px 100px;

}
form{
 color: #000000;
 font-size: 14px;
 line-height: 26px;
 font-weight: bold;
}
.search{
 color: #ffffff;
 font-size: 26px;
 line-height: 21px;
 font-weight: bold; 
 text-transform: uppercase;

 background-color: #81b3d2;
}
.visitsedona{
  font-size: 26px;
 line-height: 21px;
 font-weight: bold;
}

      /*    ----------сетка-----------*/
      /*---------приветствия---------*/
.list-main-navigation{
  padding: 0 0;
  display: flex;
  justify-content: space-around;
  font-weight: bold;
  width:1200px;
  margin: 0 auto;
 
}
.list-main-navigation li{
  /*margin: 0 auto;*/
  margin-top: 15px;
  width:130px;
}
.list-main-navigation li:nth-child(3){
  margin-top: 0px;
} 
.welcome{
  display: flex;
  width:1200px;
  height: 510px;
  margin: 0 auto;
  align-items: center;
  flex-direction: column;
  margin-top: -20px;
}
.background-bottom{
  margin-top: auto;
}
.welcome img{
  margin-top: 76px;
  width:458px;
}
/*---------преимущества---------*/
.advantage{
  display: flex;
  flex-direction: column;
}
.advantage>p:nth-child(2){
  margin-top: 55px;
}
.advantage>p:nth-child(3){
  margin-bottom: 45px;
}
.advantage-list{
  display: flex;
  flex-direction: column;  
}
/*-------первое преимущество-*/
.advantage-1{
  display: flex;
}
.crop {
    width: 800px;
    height: 257px;
    overflow: hidden;
}
.crop img{
  margin-top: -75px;
}
.blue-background{
  width:400px;
  padding: 25px 40px 0;

  box-sizing: border-box;
}
.blue-background>p:nth-child(3){
  margin-top: 20px;
}
/*-- дополнительные преимущества--*/

.advantage-others-list{
  display: flex;

}
.advantage-others-list li{
  width:33%;
  padding:0px 55px;
 }
 .advantage-others-list img{
  margin-top:57px;
 }

 .advantage-others-list p{
  margin-bottom:75px;
 }


/*----------второе преимущество-----*/
.advantage-2{
  display: flex;
  flex-direction: row-reverse;
}
/*--------остальные преимущества---*/
.association-3-4-5{
  display: flex;

}
.association-3-4-5 li{
  width:33%;
  padding: 22px 60px 40px;
}
/*-------букинг--*/
.booking{

  display: flex;
  flex-direction: column;
  align-items: center;
}
.booking b{
  margin-top: 55px;
}
.booking> p{
  margin-top: 30px;
  margin-bottom: 40px;
}

.map{
  z-index: 1;
}
/*--------------форма для поиска-------*/
.booking-form {
  display: flex;
  position: absolute;
  flex-direction: column;

  background-color:#ffffff;
  width:570px; 
  margin-top: 295px;
  padding: 57px;
  box-sizing: border-box;

  z-index: 2;
}

.booking-form label{
  width: 460px;
  
  
}
.booking-form input{
  box-sizing: border-box;
  padding: 13px;
  margin-left:20px;

  font: inherit;

  background-color: #f2f2f2;

  border:0px;

  
}
.booking-form input[type="number"]{

}
.people{
  display: flex;

 
 
}
.people label{
 
}

/*-------------футер-------*/
.main-footer{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: -120px;
  z-index: 2;
  position: relative;

  background-color: #f9faf7 ;

}
.footer-cosial-list a{
  display: flex;
  justify-content: center;
  align-items: center;
  
  width: 46px;
  height: 48px;

  background-color:#81b3d2;

}
.footer-cosial-list{
  display: flex;
  width: 150px;
  justify-content: space-between;
  margin: 36px 0px;
}
.website {
display: flex;

}