li {
    list-style-type: none; /* Убираем маркеры */
}
*{
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color:inherit;
}
ul{
    margin: 0 0;
    padding: 0 0;
}

body {  /* добавить фон карбона */
    
    background: linear-gradient(27deg, rgb(21,21,21) 5px, 
    rgba(0,0,0,0) 5px),
    linear-gradient(207deg, rgb(21,21,21) 5px,
    rgba(0,0,0,0) 5px), 
    linear-gradient(27deg, rgb(34,34,34) 5px,
    rgba(0,0,0,0) 5px), 
    linear-gradient(207deg, rgb(34,34,34) 5px, 
    rgba(0,0,0,0) 5px), 
    linear-gradient(90deg, rgb(27,27,27) 10px, 
    rgba(0,0,0,0) 10px), 
    linear-gradient(180deg, rgb(29,29,29) 25%, 
    rgb(26,26,26) 25%,
    rgb(26,26,26) 50%, rgba(0,0,0,0) 50%,
    rgba(0,0,0,0) 75%,
    rgb(36,36,36) 75%, 
    rgb(36,36,36) 100%), 
    rgb(19,19,19);
    background-position: 0 5px, 10px 0, 0 10px, 10px 5px, 0 0, 0 0;
    background-size: 20px 20px;
    background-attachment:fixed;
    color: #d1d6da;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}
.visuallyHidden {
    display: none;
    position: absolute; 
    overflow: hidden; 
    clip: rect(0 0 0 0); 
    height: 1px; width: 1px; 
    margin: -1px; padding: 0; border: 0; 
}

/* центровка  ----------------------------------------------------------------------*/
.centerman {
    position: relative;
    min-width: 320px;
    max-width: 768px;
    margin: 0 auto;
    padding-top: 45px;
    text-align: center;
    background-color: #192026;
}
/* шапка   ----------------------------------------------------------------------*/
.header {
    position: fixed;
    z-index: 990;
    top: 0px;
    left: 0px;
    height: 45px;
    width: 100%;
    background-color: #2d3d4d;
    border-bottom: 3px solid #cf2e33;
    box-shadow: 0px 4px 4px 0px rgb(0, 0, 0);
}
/*кнопка закрыть   ----------------------------------------------------------------------*/
.btn-close {
    display: block;
    margin-left: 6px;
    margin-top: 7px;
    width: 60px;
    height: 28px;
    position: relative;
    z-index: 990;
}
.btn-close__bar {
    width: 35px;
    height: 3px;
    background-color:#e7edf1;
    display: block;
    border-radius: 4px;
    transition: all 0.4s ease-in-out;
    position: absolute; 
}
.bar1 {
    top: 1px;
}
.bar2, .bar3 {
    top: 13px;
}
.bar4 {
    bottom: 1px;
}
.btn-close__checkbox:checked ~.bar1,
.btn-close__checkbox:checked ~.bar4{
    background-color: transparent;
}
.btn-close__checkbox:checked ~.bar2{
    transform: rotate(45deg);
}
.btn-close__checkbox:checked ~.bar3{
    transform: rotate(-45deg);
}
/* навигация   ----------------------------------------------------------------------*/
.nav {
    position: absolute;
    top: 45px;
    background-color: #2d3d4d;
    width: 40%;
    min-width: 200px ; 
    padding: 15px;
    color: rgb(255, 255, 255);
    text-align:left;
    font-weight: 800;
    border: #cf2e33 solid 1px;
    border-radius:0 0  3px 0;
    box-shadow: 4px 4px 4px 0px rgb(0, 0, 0);
}
.nav__item{
    padding: 20px;
}
/* главная область  ----------------------------------------------------------------------*/
.master__block-we,
.master__block-purpose,
.master__block-services,
.master__block-types,
.master__block-examples,
.master__block-calc,
.master__block-contact{
    margin: 20px;
}
/* паралакс  ----------------------------------------------------------------------*/
.parallax__back{
    position: relative;
    background-image: url(../img/n.png);
    background-repeat:no-repeat;
    background-size: cover; 
    background-position: 50% 70%;
    height: 350px;
    border-bottom: #cf2e33 solid 3px;
    box-shadow: 0 0 4px 3px rgb(0, 0, 0);
}
#myCanvas
{
}
/* заголовок  ----------------------------------------------------------------------*/
.master__title{
    color: #cf2e33;
    text-align: center;
    text-shadow:  1px 1px 3px  rgb(0, 0, 0);
    font-size: 35px
}
/* блок с информацией  ----------------------------------------------------------------------*/
.block-info{
    background-color: #1f2734;
    padding: 15px;
    padding-top: 25px;
    border-radius: 4px;
    border: #cf2e33 solid 1px;
    box-shadow: 0 0 4px 3px rgb(0, 0, 0);
}
.block-info__title{
    display: inline-block;
    border-bottom: 3px solid #cf2e33;
    text-shadow:  2px 2px 2px  rgb(0, 0, 0);
    box-shadow: 0px 4px 4px -3px rgb(0, 0, 0);
}
.block-info__text{
    text-align: left;
}
.block-info__list{

}
.block-info__item-list{
    margin-bottom: 15px
}
/*элемент в блоке с инфо ----------------------------------------------------------------------*/
.item{
    border-radius: 6px 6px 0 0;
    background-color: #283545;
    box-shadow:0 0 4px 0px rgb(0, 0, 0);
}
.item__title{
    position: relative;
    border-radius: 4px 4px 0 0;
    min-height: 40px; 
    margin: 0;
    padding:7px;
    padding-right: 45px;
    box-shadow: 0 2px 3px 0px rgb(0, 0, 0);
}
.item__title::after {
    display: inline-block;
    right: 15px;
    top: 8px;
    width: 25px;
    height: 25px;
    background: url(../img/arrow.svg)  no-repeat;
    background-size: cover; 
    background-position: 50% 50%;
    position: absolute;
    content: '';
}
.item__list{
    padding: 10px;
    background-color: #394b5d;
}
.item__item-list{
    text-align: left;
    margin-bottom: 10px;
}
.item__item-list::before{
    content: "";
    display:inline-block;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color: #cf2e33;
    margin-right: 10px
}
.item__text{
    display: block;
    text-align: left;
    padding: 10px;
    
}
/*стили галереи ----------------------------------------------------------------------*/
.gallery{
}
.gallery__title select {
    padding-left: 8px;
    background-color: #394b5d;
    border-radius: 3px;
    width: 55px;
    height: 27px;
    box-shadow:inset 0 0 4px 1px rgb(0, 0, 0);
    color: #ffffff;
    font-weight: 700;
    outline: none;
    user-select: none;
}
.gallery__list-img{
    
}
.gallery__item-img{
    display: inline-block;
    margin: 2%;
    height: 180px;
    width: 95%;
    max-width:280px ;
    border-radius: 2px;
    border: #d1d6da solid 1px;
    box-shadow: 0 0 4px 4px #000000;
    background-repeat:no-repeat;
    background-size: cover; 
    background-position: 50% 50%;
}
.gallery__big-img{
    z-index: 999;
    position: fixed;
    top: 20px;
    left: 10px;
    width: 94vw;
}
.gallery__big-img img{ 
    /* открытое изображение всегда по размерам видемой области */
    border-radius: 3px;
    max-width: calc(100vw - 40px);
    max-height: calc(100vh - 30px);
    border: 2px solid rgb(255, 255, 255);
    box-shadow:0 0 4px 4px rgb(0, 0, 0);
}
.gallery__prev,
.gallery__next
{
    position: absolute;
    top: 10px;
    background-color: #1f2734;
    border-radius: 8px;
    border: #cf2e33 solid 1px;
    width: 80px;
    height: 50px;
    box-shadow:0 0 4px 2px rgb(0, 0, 0);
    color: #ffffff;
    opacity: 0.7;
    outline: none;
    user-select: none;
}
.gallery__prev:active,
.gallery__next:active{ 
    background-color: #cf2e33;
}
.gallery__prev{
    left: 20px;
}
.gallery__next{
    
    right: 20px;
}
.gallery__status{
    position: absolute;
    top: 10px;
    right: 120px;
    padding-top: 5px;
    background-color: #1f2734;
    border-radius: 5px;
    border: #cf2e33 solid 1px;
    width: 60px;
    height: 30px;
    box-shadow:0 0 4px 2px rgb(0, 0, 0);
    color: #ffffff;
    opacity: 0.7;
}
.gallery__pager{
    display: inline-block;
    background-color: #283545;
    padding: 5px;
    border-radius: 3px;
    min-width: 200px;
    box-shadow: 0 0 4px 2px rgb(0, 0, 0);
}
.gallery__item-pager{
    display: inline-block;
    padding: 5px;
}
.gallery__item-pager button{
    border-radius: 3px;
    border: #cf2e33 solid 0px;
    width: 50px;
    height: 25px;
    box-shadow:0 0 4px 2px rgb(0, 0, 0);
    color: #ffffff;
    outline: none;
    user-select: none;
    transition: all 200ms ease-in-out;
}
.gallery__item-pager button:active{
    background-color:#cf2e33;
}
.gallery__overlay{
    position: fixed;
    z-index: 991;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: rgba(80, 80, 87, 0.9);
}
/*стили калькулятора ----------------------------------------------------------------------*/
.calc{

}
.calc__setting{
    display: inline-block;
    padding: 10px;
    border-radius: 3px;
    width: 100%;
    box-shadow: 0 0 4px 2px rgb(0, 0, 0);
}
.calc__class-avto{
    padding-left: 4px;
    padding-right: 8px;
    background-color: #cf2e33;
    border-radius: 3px;
    height: 35px;
    box-shadow:inset 0 0 4px 1px rgb(0, 0, 0),0 0 4px 2px rgb(0, 0, 0);
    color: #ffffff;
    font-weight: 700;
    font-size: 14px;
    outline: none;
    user-select: none;
}
.calc__class-avto>option{
    background-color: #283545;
}

.calc__chek{
    display: none;
}
.calc__botton{
    position:relative;
    border-radius: 3px;
    background-color: #2d3d4d;
    padding: 7px;
    margin-bottom: 20px;
    width: 200px;
    height: 50px;
    box-shadow: 0px 7px 0px 3px #0c1014, 0 0 4px 2px rgb(0, 0, 0);
    color: #ffffff;
    font-size: 14px;
    outline: none;
    user-select: none;
    transition: all 100ms ease-in-out;
}
.calc__chek:checked ~ .calc__botton{
    top:7px;
    box-shadow: 0px 0px 0px 2px #0c1014, inset 0 0 2px 2px rgb(0, 0, 0);;
	text-shadow: 1px 1px 2px black;
    background-color:#cf2e33;
}
.calc__wraper{
    margin-bottom: 15px;
    background-color: #2d3d4d;
    padding: 15px;
    box-shadow:inset 0 0 4px 2px rgb(0, 0, 0);
}
.calc__wraper2{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 15px;
}
.calc__img{
    position: relative;
    height: 320px;
    width: 160px;
    margin-left: 30px;
    margin-right: 30px;
}
.calc__img-big{
    position: absolute;
    right: 0px;
    filter: drop-shadow(0px 0px 7px #cf2e33);
    z-index: 100;
}
.calc__img-3{
    position: absolute;
    right: 0px;
    filter: drop-shadow(0px 0px 2px #000000);
    z-index: 101;
}
.calc__img-2{
    
}
.calc__img-1{
    
}
.calc__text{
    padding: 10px;
    border-radius: 3px;
    box-shadow:inset 0 0 3px 2px rgb(0, 0, 0);
    background-color: #394b5d;
}
.calc__text span{
    display: inline-block;
}
.calc__text  b{
    display: inline-block;
    color: #cf2e33;
}
